@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility animate-spin-slow {
  animation: spin 20s linear infinite;
}

.swiper-button-next,
.swiper-button-prev {
  top: 100% !important;
  transform: translateY(-50%) !important;
  color: #18181b !important;
  z-index: 100 !important;
  transition: all 0.2s ease-in-out !important;

}